/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

body {
  background-color: #F5F6F8;
}

.splash-bg {
  background-color: #3778c2;
  height: 100%;
  width: 100%;
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.main-container {
  width: 100%;
  text-align: center;
  margin: auto;
}

#title-balance {
  font-size: 7em;
  color: white;
}

.img-bottom {
  position: absolute;
  top: 10em;
}

.bttns-position {
  position: absolute;
  bottom: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 55%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.buttons {
  font-size: 50px;
  width: 95%;
  margin: auto;
}

.margin-bottom {
  margin-bottom: 40px;
}

// Session & Registration

.center-div {
  margin: auto;
  // width: 60%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items {
  align-items: center;
}

.margin-top-nav {
  margin-top: 5%;
}

.blue-navbar {
  background-color: #3778c2;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.arrow-back img {
  width: 40px;
}

p {
  margin-bottom: 0;
}

.blue-navbar p {
  color: white;
}

.borderless-bttn {
  border: none;
  background-color: #3778c2;
  color: white;
}

.input {
  border: 1px solid lightgray;
}

.width-100 {
  width: 100%;
}

.width-100 input {
  width: 100%;
  border: 1px solid lightgray;
  height: 40px;
}

.width-100 input ::placeholder {
  margin-left: 10px;
}

.forgot-pss {
  margin-top: 30px;
  color: gray
}

.alert-danger {
  text-align: center;
}

.bttn-color-login {
  color: white;
}

.logout {
  color: white;
}