<div id="<%= dom_id category %>" class="category-container">
  <div class="flex-row justify-content-between category-item text-color">
    <div class="flex-row">
        <p>
          <%= image_tag "#{category.icon}", class: "img-show" %>
        </p>
      <p class="title-category gray-font">
        <%= category.name %>
      </p>
    </div>
    <p class="black category-amount">
      <%= number_to_currency category.activities.where(user: current_user).sum(:amount) %>
    </p>
  </div>
</div>
