<div class="blue-navbar">
  <%= link_to image_path("arrow-left.png"), "/categories/#{@category.id}", class: "arrow-back"%>
  <p><%= @category.name %></p>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout" %>
</div>
<%= render "form", category: @category %>
<br>
